<h1>Minha Conta de Banco</h1>

<div>
    <label for="InputName">Nome:</label>
    <input type="text" id="InputName" placeholder="Coloque seu nome aqui">
</div>
<div>
    <label for="InputEmail">Email:</label>
    <input type="email" placeholder="exemplo@exemplo.com">
</div>
<div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</div>

<div>
    <ul>
        <li>Nome</li>
        <li>email</li>
    </ul>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col">{{nome}}</div>
        <div class="col">E-mail</div>
        <div class="col">Conta</div>

    </div>

</div>